<div class="p-4">
<div class="row">
  <div class="col-4">
    <label><b>Name</b></label>
    <input type="text" class="form-control" [(ngModel)]="studentName">
  </div>

  <div class="col-4">
    <label><b>Gender</b></label>
    <input type="text" class="form-control" [(ngModel)]="gender">
  </div>

  <div class="col-4">
    <button class="btn btn-primary mt-4" (click)="add()">Add Student</button>
  </div>
</div>

<h1>Students</h1>

<div class="col-8 mt-4">
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Name</th>
    <th>Gender</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let student of studentArray">
    <td>{{student?.name}}</td>
    <td>{{student?.gender}}</td>
    <td><span><a href="javascript:void(0)" (click)="openModal(student.id)">Update</a></span>&nbsp;&nbsp;
      <span><a href="javascript:void(0)" (click)="delete(student)">Delete</a></span>
    </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="studentName">
          </div>
          <div class="col-12">
            <label>Gender</label>
            <input type="text" class="form-control" [(ngModel)]="gender">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="update()">Save changes</button>
      </div>
    </div>
  </div>
</div>